<div class="gp404 col-xs-12 text-center">
	<h1 class="b-title">404 Error</h1>
    <h2 class="b-title">К сожалению, эта страница недоступна</h2>
    <br>
    <b>Возможно, ссылка недействительна или страница была удалена.</b>
    <br>
    <div class="row gpButtons">
        <div class="col-xs-6">
            <div class="btn btn-round btn-primary pull-right arrow-left" onclick="history.back(); return false;">Назад</div>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-round btn-primary pull-left arrow-right" href="/">Главная</a>
        </div>
    </div>
</div>