
body {
	padding:50px 0 100px;
	overflow-y: scroll!important;
	/*background: #e7e7e7;*/
	min-height: 100vh;
	position: relative;
}
.modal-open {
	padding-right:0!important;
}

header {
	position: fixed;
	overflow:hidden;
    top: 0;
    height: 50px;
	width: 100%;
	padding: 8px 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.3);
	z-index: 100;
}

.logo {
	display:block;
	height: 30px;
	margin-top: 2px;
	margin-right: 20px;
}
.logo img {
	max-height: 100%;
}

.comments .media {
	background-color: #fff;
    padding: 15px;
}
    
	

.left-sitebar,
.right-sitebar {

	width: 200px;
	float: left;

}

.page-content {

 }
 .shadow {
 	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
 }
.left-sitebar + .page-content,
.left-sitebar + .right-sitebar + .page-content {
	margin-left: 230px;

}

.right-sitebar {
	float: right;
}

.right-sitebar + .page-content {
	margin-right: 230px;
}


.error-text {
	color: #a94442;
    height: 12px;
    display: block;
    font-size: 12px;
}

footer {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
	border-top: 1px solid #e4d8d8;
	padding: 40px 0;
	color: #888888;
}

.signature {
	font-size: 12px;
	color: #888888;
	border-top: solid 1px #999;
	padding-top: 5px;
	margin-top: 15px;
}

.filter-form {
	padding: 15px 0;
    margin: 0 -5px;
    background: #e7e7e7;
    border-radius: 5px;
}

.filter-form.active {
	background: #d0e4bc;

}

.h34 {
	height: 34px;
}

.pt7 {
	padding-top: 7px;
}

.form-group .interval input{
	width:50%;
}
.gp404{margin: 142px 0;}
.gp404 img{max-width: 100%}
.b-title{ font-size: 30px; margin: 48px 0 24px; }
.gpButtons{ margin-top: 58px; }

.gpButtons .btn{
	position: relative;
	width: 180px;
}

.thumbnail-top {
	height: 170px;
	overflow: hidden;
	display: table;
	width: 100%;
}
.thumbnail-top > * {
	display: table-row;
	
}

.thumbnail-top h4 {
	text-align: center;
	background: #ececec;
}
.middle-cell {
	display:table-cell;
	vertical-align: middle;
}

.thumbnail-bottom {
	height: 35px;
    display: table;
    width: 100%;
}

.thumbnail-bottom >* {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.thumbnail-text {
	color: #737373;
}
.mb15 {
	margin-bottom: 15px;
}
.mb30 {
	margin-bottom: 30px;
}
.mt15 {
	margin-top: 15px;
}
.mt30 {
	margin-top: 30px;
}
.product-options {
	padding:15px;
	border-radius: 4px;
}

.category-list .thumbnail-text{
	height: 130px;
}
.category-list h3 a {
	white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    padding: 5px; /* Поля */
	text-overflow: ellipsis;
	display: block;
}
	