{% extends layout %}

{% block title %}Панель управления!{% endblock %}

{% block leftSiteBar %}
    <div class="left-sitebar">
		<div class="list-group">
			<a href="/admin/categories" class="list-group-item">Категории</a>
			<a href="/admin/goods" class="list-group-item">Товары</a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<h1>Панель управления</h1>
	<a href="/admin/categories/edit/0" class="btn btn-primary active" role="button">Добавить категорию</a>
	<table class="table"> 
		<caption>Optional table caption.</caption> 
		<thead> 
			<tr> 
				<th>id</th> 
				<th>Название</th> 
				<th>Активность</th> 
				<th width=100></th> 
				<th width=100></th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for item in categories.items %}
				<tr> 
					<th scope="row">{{ item.Id }}</th> 
					<td>{{ item.Name }}</td>
					<td>{{  item.Active ? 'Да' : 'Нет' }}</td> 
					<th><a href="/admin/categories/edit/{{ item.Id }}" class="btn btn-primary">Редактировать</a></th> 
					<th><a href="/admin/categories/delete/{{ item.Id }}" class="btn">Удалить</a></th> 
				</tr>
			{% endfor %}
			
		</tbody> 
	</table>
	{{ categories.pagenationHTML|raw }}
{% endblock %}