{% extends layout %}

{% block title %}Панель управления!{% endblock %}

{% block leftSiteBar %}
    <div class="left-sitebar">
		<div class="list-group">
			<a href="/admin/categories" class="list-group-item">Категории</a>
			<a href="/admin/products" class="list-group-item">Товары</a>
		</div>
	</div>
{% endblock %}

{% block content %}
	<h1>Панель управления</h1>
	<a href="/admin/products/edit/0?ref={{ curUrlEncode }}" class="btn btn-primary active" role="button">Добавить товар</a>
	<table class="table"> 
		<caption>Товары</caption> 
		<thead> 
			<tr> 
				<th>id</th> 
				<th>Название</th> 
				<th>Активность</th> 
				<th width=100></th> 
				<th width=100></th> 
			</tr> 
		</thead> 
		<tbody> 
			{% for item in products %}
				<tr> 
					<th scope="row">{{ item.getId() }}</th> 
					<td>{{ item.getName() }}</td>
					<td>{{  item.getActive() ? 'Да' : 'Нет' }}</td> 
					<th><a href="/admin/products/edit/{{ item.getId() }}?ref={{ curUrlEncode }}" class="btn btn-primary">Редактировать</a></th> 
					<th>
						<form action="/admin/products/delete" method="post" onsubmit="return confirm('Удалить товар: [{{ item.getId() }}] - {{ item.getName() }}?');">
							<input type="hidden" name="id" value="{{ item.getId() }}">
							<input type="submit" class="btn" value="Удалить">
						</form>
					</th> 
				</tr>
			{% endfor %}
			
		</tbody> 
	</table>
	{{ pagenationHTML|raw }}
{% endblock %}