<div>{{ category.getDetailText() }}</div>
<div class="row mt15">
{% for item in products %}
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <div class="thumbnail-top">
          <h4><a href="/catalog/{{ category.getId() }}/{{ item.getId() }}" class="middle-cell">{{ item.getName() }}</a></h4>
          <div class="thumbnail-text"><div class="middle-cell">{{ item.PreviewText | slice(0,160) }}{{ item.PreviewText|length > 160 ? "..." }}</div></div>
        </div>
        <div class="thumbnail-bottom">
          {% if item.getQuantity() %}
            <p class="bg-success">Есть в наличии</p>
          {% else %}
            <p class="bg-danger">Нет в наличии</p>
          {% endif %}
          {% if item.getQuantity() or item.emptyOrder() %}
            <p><a href="#" class="btn btn-primary" role="button">Заказать</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
 
{% endfor %}
</div>
{{ pagenationHTML|raw }}
