<div class="row category-list">
{% for item in categories %}
  <div class="col-md-6">
    <div class="thumbnail shadow">
      <div class="caption">
        <h3><a href="/catalog/{{ item.getId() }}">{{ item.getName() }}</a></h3>
        <div class="thumbnail-text">{{ item.PreviewText | slice(0,300) }}{{ item.PreviewText|length > 300 ? "..." }}</div>
        <p><a href="/catalog/{{ item.getId() }}" class="btn btn-primary" role="button">Подробнее</a></p>
      </div>
    </div>
  </div>
{% endfor %}
</div>

