<div class="row">
  <div class="col-xs-3 pull-right">
    <div class="product-options shadow">
      {% if product.getQuantity() %}
        <p class="bg-success">Есть в наличии ({{product.getQuantity()}} шт.)</p>
      {% else %}
        <p class="bg-danger">Нет в наличии</p>
      {% endif %}
      {% if product.getQuantity() or product.emptyOrder() %}
        <a href="javascript: alert('Спасибо за заказ!')" class="btn btn-primary" role="button">Заказать</a>
      {% endif %}
    </div>
  </div>
  <div class="col-xs-9">
    {{ product.getDetailText() | raw }}
  </div>
</div>
